@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "MasterPages.cshtml";
}
@section Title
{
    All menu | CmsCoffee
}
@section class_body
{
    page page-id-244 page-parent page-template-default responsive no-shadow no-gradient
}
@section banner_h1_title
{
    All Menu
}
@section class_AllMenu
{
    ubermenu-current-menu-item ubermenu-page_item ubermenu-page-item-244 ubermenu-current_page_item
}



<div class="inner ">
    <div id="main">
        <div class="post-244 page type-page status-publish hentry content">
            <!-- SAI Digital Restaurant Menu Manager -->
            <div id="wprmm_menu_1" class="wprmm_menu">
                <div class="menu_manager">
                    <p class="menu_desc"></p>
                    <div class="menu_manager">
                        <div id="coffee" class="menu_category">
                            <div class="main-column-left">
                                <h2>Coffee</h2>
                                <p class="menu_category_desc"><img alt="coffee image" src="~/images/coffee_cate.png" class="menu_category hidden visible animated bounceIn"></p>
                            </div>
                            <div class="two_column_bootstrap">
                                <div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coffee1.png" target="_blank"><img class="menu_thumb hidden visible animated fadeIn" src="~/images/coffee1.png" alt="Coffee ice"></a><span class="menu_price pull-right">29$</span><h3>Coffee ice</h3><p>Our selection of coffee beans have been rigorously tested with every different type of coffee machine to make.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coffee2.png" target="_blank"><img class="menu_thumb hidden visible animated fadeIn" src="~/images/coffee2.png" alt="Coffee ice milk"></a><span class="menu_price pull-right">33$</span><h3>Coffee ice milk</h3><p>Coffee ice milk is the process that slowly and gradually releases the purest of essence.</p>
                                        </div>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coffee3.png" target="_blank"><img class="menu_thumb hidden" src="~/images/coffee3.png" alt="Hot Coffee"></a><span class="menu_price pull-right">29$</span><h3>Hot Coffee</h3><p>Grown traditionally, harvested naturally and roasted lovingly, they're the star of every cup. </p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coffee4.png" target="_blank"><img class="menu_thumb hidden" src="~/images/coffee4.png" alt="Coffee SoCola"></a><span class="menu_price pull-right">29$</span><h3>Coffee SoCola</h3><p>Some start life in Africa, others in South America, but all end up close to our heart.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="milk" class="menu_category">
                            <div class="main-column-left">
                                <h2>Milk</h2>
                                <p class="menu_category_desc"><img alt="milk image" src="~/images/milk.png" class="menu_category hidden"></p>
                            </div>
                            <div class="two_column_bootstrap">
                                <div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/milkli1.png" target="_blank"><img class="menu_thumb hidden" src="~/images/milkli1.png" alt="Fresh milk"></a><span class="menu_price pull-right">39$</span><h3>Fresh milk</h3><p>Add Kahlua, crème de Menthe, crème de cacao, milk and ice to a blender and blend on low speed until smooth.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/milkli2.png" target="_blank"><img class="menu_thumb hidden" src="~/images/milkli2.png" alt="Milk ice"></a><span class="menu_price pull-right">45$</span><h3>Milk ice</h3><p>There should be some ice crystals in the glass and the drink will be light and frothy.</p>
                                        </div>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/milkli3.png" target="_blank"><img class="menu_thumb hidden" src="~/images/milkli3.png" alt="Mudslide Recipe Milk"></a><span class="menu_price pull-right">29$</span><h3>Mudslide Recipe Milk</h3><p>
                                                White crème de cacao and milk, and served blended in a chilled highball glass topped with whipped cream.<br>
                                                and a small cookie
                                            </p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/milkli4.png" target="_blank"><img class="menu_thumb hidden" src="~/images/milkli4.png" alt="Sarati Lassi Milk"></a><span class="menu_price pull-right">39$</span><h3>Sarati Lassi Milk</h3><p>Get the mixers out and shape your Saturday night party like an Aspri Spirits night!</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cocktail" class="menu_category">
                            <div class="main-column-left">
                                <h2>Cocktail</h2>
                                <p class="menu_category_desc"><img alt="Cocktail image" src="~/images/coctail_cate.png" class="menu_category hidden"></p>
                            </div>
                            <div class="two_column_bootstrap">
                                <div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coctail1.png" target="_blank"><img class="menu_thumb hidden" src="~/images/coctail1.png" alt="Cocktaila Moscow Mule"></a><span class="menu_price pull-right">29$</span><h3>Cocktaila Moscow Mule</h3><p>Top with ginger beer and garnish with a lime wedge and a mint sprig.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coctail2.png" target="_blank"><img class="menu_thumb hidden" src="~/images/coctail2.png" alt="Bullfrog Cocktail"></a><span class="menu_price pull-right">33$</span><h3>Bullfrog Cocktail</h3><p>Add Cocktail Vodka Grapefruit and lime juice. Top up with ginger ale. Garnish with a lime wedge.</p>
                                        </div>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coctail3.png" target="_blank"><img class="menu_thumb hidden" src="~/images/coctail3.png" alt="Cocktail Oranges"></a><span class="menu_price pull-right">33$</span><h3>Cocktail Oranges</h3><p>Top up with orange juice. Garnish with a Maraschino cherry and an orange wedge.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/coctail4.png" target="_blank"><img class="menu_thumb hidden" src="~/images/coctail4.png" alt="Cocktail dessert"></a><span class="menu_price pull-right">45$</span><h3>Cocktail dessert</h3><p>Impress your guests with a summer cocktail dessert recipe by Cava restaurant’s master chef, Christopher McDonald.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="beverages" class="menu_category">
                            <div class="main-column-left">
                                <h2>Beverages</h2>
                                <p class="menu_category_desc"><img alt="Beverages image" src="~/images/beve_cate.png" class="menu_category hidden"></p>
                            </div>
                            <div class="two_column_bootstrap">
                                <div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/br1.png" target="_blank"><img class="menu_thumb hidden" src="~/images/br1.png" alt="Orange Ice"></a><span class="menu_price pull-right">33$</span><h3>Orange Ice</h3><p>While I'm not generally into overly themed parties, especially the typical orange.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/br2.png" target="_blank"><img class="menu_thumb hidden" src="~/images/br2.png" alt="Milk ice"></a><span class="menu_price pull-right">45$</span><h3>Milk ice</h3><p>There should be some ice crystals in the glass and the drink will be light and frothy.</p>
                                        </div>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/br3.png" target="_blank"><img class="menu_thumb hidden" src="~/images/br3.png" alt="Calyer royale"></a><span class="menu_price pull-right">33$</span><h3>Calyer royale</h3><p>Strawberries make a perfect choice because they're naturally sweet.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/br4.png" target="_blank"><img class="menu_thumb hidden" src="~/images/br4.png" alt="Lemon ice"></a><span class="menu_price pull-right">33$</span><h3>Lemon ice</h3><p>Shake over ice, strain into a shot glass and garnish with a small orange slice. </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tea" class="menu_category">
                            <div class="main-column-left">
                                <h2>Tea</h2>
                                <p class="menu_category_desc"><img class="menu_category hidden" src="~/images/tea_cate.png" alt="Tea image"></p>
                            </div>
                            <div class="two_column_bootstrap">
                                <div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/tea1.png" target="_blank"><img class="menu_thumb hidden" src="~/images/tea1.png" alt="Tiple Lemon Drop"></a><span class="menu_price pull-right">39$</span><h3>Tiple Lemon Drop</h3><p>Combine the Lipton Ice Tea Lemon and the lemonade in a pitcher. </p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/tea2.png" target="_blank"><img class="menu_thumb hidden" src="~/images/tea2.png" alt="Citrus Iced Tea Punch"></a><span class="menu_price pull-right">45$</span><h3>Citrus Iced Tea Punch</h3><p>Combine Lipton Ice Tea Lemon with the orange juice in a large pitcher; stir in the sliced fruit.</p>
                                        </div>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/tea3.png" target="_blank"><img class="menu_thumb hidden" src="~/images/tea3.png" alt="Mint Tea Juleps"></a><span class="menu_price pull-right">29$</span><h3>Mint Tea Juleps</h3><p>Thoroughly crush the mint with a wooden spoon on the side of the pitcher.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/tea4.png" target="_blank"><img class="menu_thumb hidden" src="~/images/tea4.png" alt="Pina Tea-La Da"></a><span class="menu_price pull-right">39$</span><h3>Pina Tea-La Da</h3><p>Process all ingredients in a blender until smooth.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="cake" class="menu_category">
                            <div class="main-column-left">
                                <h2>Cake</h2>
                                <p class="menu_category_desc"><img class="menu_category hidden" src="~/images/cake_cate.png" alt="cake image"></p>
                            </div>
                            <div class="two_column_bootstrap">
                                <div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/cake2.png" target="_blank"><img class="menu_thumb hidden" src="~/images/cake2.png" alt="Cakes cocoa"></a><span class="menu_price pull-right">33$</span><h3>Cakes cocoa</h3><p>
                                                Indispensable for lovers of coffee tiramisu dessert ... Special cake with cream and cocoa. <br>
                                                powder lovers the choice of mild, sweet.
                                            </p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/cake1.png" target="_blank"><img class="menu_thumb hidden" src="~/images/cake1.png" alt="Chocolate Guinness Cupcakes"></a><span class="menu_price pull-right">29$</span><h3>Chocolate Guinness Cupcakes</h3><p>The top of the cheesecake was covered in chocolate. Who wants to wake up from such a sweet dream?</p>
                                        </div>
                                    </div>
                                </div><div class="row">
                                    <div class="col-md-6 odd">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/cake3.png" target="_blank"><img class="menu_thumb hidden" src="~/images/cake3.png" alt="Brickle cake"></a><span class="menu_price pull-right">33$</span><h3>Brickle cake</h3><p>Brickle cake, chocolate taste the great passion of lovers.</p>
                                        </div>
                                    </div><div class="col-md-6 even">
                                        <div class="menu_item_info">
                                            <a href="~/wp-content/uploads/2014/09/cake4.png" target="_blank"><img class="menu_thumb hidden" src="~/images/cake4.png" alt="Chocolate particle cake"></a><span class="menu_price pull-right">33$</span><h3>Chocolate particle cake</h3><p>Orodispersible dough with chocolate chips and delicious flavor you will be addicted.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="wprmm_print"><a href="http://nesspresso.lotusapps.net/?wprmm-routing=export&amp;menu_id=1" target="_blank">Print</a></p>
                    </div>
                </div>
            </div>
            <div class="clearboth"></div>
        </div>			<div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
</div>

